<settings>
  <servers>

  <server>
  <id>releases</id>
    <username>#NEXUS_USERNAME#</username>
    <password>#NEXUS_PASSWD#</password>
  </server>
  <server>
  <id>snapshots</id>
    <username>#NEXUS_USERNAME#</username>
    <password>#NEXUS_PASSWD#</password>
  </server>
  </servers>
  <profiles>
  </profiles>
</settings>